.navbar-brand:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.nav-link {
  font-size: 1.1rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.btn-warning:hover {
  background-color: #ffca2c;
  transform: translateY(-2px);
  transition: 0.2s;
}
